.aroowduwn {
  /* align-items: center; */
  width: 24px;
  height: 24px;
  /* background-image: url('../../assets/arrow_drop_down.svg'); */
  color: #c0c0c0;
  background-repeat: no-repeat;
  cursor: pointer;
  outline: none;
  border: none;
}
