.wrapper {
  width: 1296px;
  background: #f2f2f2;
  border: 1px solid #f2f2f2;
  box-sizing: border-box;
  box-shadow: 0px 1px 4px rgba(60, 52, 135, 0.15);
  padding: 20px 60px;
  margin-bottom: 12px;
  margin: 0 auto;
}

.line {
  display: inline-block;
  width: 100%;
  border-bottom: 1px solid #a6192e;
  margin-bottom: 10px;
}

.infoUser {
  background-color: #888;
}

.infoSort {
  background-color: #666;
}

.labels {
  background-color: #444;
}

.table {
  background-color: #222;
}
