.wrapper {
  display: flex;
  width: 60px;
  height: 32px;
}
.img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-image: url("../../../assets/default_avatar.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.dropBtn {
  position: relative;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  color: #777777;
  text-transform: uppercase;
}

.arrow {
  position: absolute;
  bottom: 4px;
  display: inline-flex;
  width: 24px;
  height: 24px;
  background-image: url("../../../assets/arrow_drop_down_logo.svg");
  background-repeat: no-repeat;

}
