.tr {
  display: flex;
  width: 1280px;
  padding: 8px;
}

.checkbox {
  width: 20px;
}

.name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;
}

.az {
  display: inline-block;
  width: 12px;
  height: 12px;
  background-image: url('../../../assets/az.svg');
  background-repeat: no-repeat;
  cursor: pointer;
}

.id {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 96px;
}

.arrow {
  display: inline-block;
  width: 6px;
  height: 12px;
  background-image: url('../../../assets/table_arrow.svg');
  background-repeat: no-repeat;
  cursor: pointer;
}

.class {
  width: 50px;
}

.score {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100px;
}

.speed {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 112px;
}

.parents {
  width: 364px;
}

.action {
  width: 100px;
  text-align: end;
}

.arrowAction {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url('../../../assets/arrow_drop_down.svg');
  background-repeat: no-repeat;
  cursor: pointer;
}

.td {
  height: 28px;
  display: inline-block;
  text-align: start;
  color: #828282;
  font-size: 14px;
  font-weight: 400;
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

.td:not(:last-child) {
  margin-right: 24px;
}

.tr:nth-child(even) {
  background: #f2f2f2;
}
