.wrapper {
  max-width: max-content;
  margin: 0 auto;
}

.title {
  height: 33px;
  text-align: start;
  margin: 0;
  padding-left: 4px;
  padding-top: 8px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  text-transform: uppercase;
  color: #5b5b5b;
  border-top: 2px solid #c0c0c0;
}
