.wrapper {
    display: flex;
    justify-content: space-around;
  align-items: center;

  width: 297px;
  height: 32px;
}

.dropBtn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  color: #777777;
  text-transform: uppercase;
}

.arrow {
  display: inline-flex;
  width: 20px;
  height: 20px;
  background-position: center;
  background-image: url("../../../assets/arrow_drop_down_logo.svg");
  background-repeat: no-repeat;
}
