.infoUser{
  margin-bottom: 12px;
}

.user {
  display: flex;
  margin-right: 12px;
}

.userItem {
  display: flex;
  margin-right: 15px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  color: #777777;
}

.userData {
  display: inline-block;
  padding-left: 8px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  color: #5b5b5b;
}
